<tr class='question__tr-<%= question.id %>'>
  <td class='question__td'><%= question.tag.name %></td>
  <td class='question__td'><%= question.answer_count %></td>
  <td class='question__td'><%= safe_join(question.body.split("\n"), tag(:br)) %></td>
  <td class='question__td'>
    <%= text_area_tag 'body', nil, class:'question__answer-field' %>
  </td>
  <td class='question__td--create'>
    <a href='' class='question__link'><i class="far fa-save"></i></a>
  </td>
</tr>