<tr class='question__tr-<%= question[0] %>'>
  <td class='question__td'><%= question[1] %></td>
  <td class='question__td'><%= question[4] %></td>
  <td class='question__td'><%= safe_join(question[2].split("\n"), tag(:br)) %></td>
  <td class='question__td'>
    <%= text_area_tag 'body', question[3], class:'question__answer-field' %>
  </td>
  <td class='question__td--update'>
    <a href='' class='question__link'><i class="far fa-save"></i></a>
  </td>
  <td class='question__td--destroy'>
    <a href='' class='question__link'><i class="far fa-trash-alt"></i></a>
  </td>
</tr>